altgraph==0.17.4
beautifulsoup4==4.12.3
bs4==0.0.2
certifi==2024.2.2
charset-normalizer==3.3.2
darkdetect==0.7.1
DateTime==5.4
et-xmlfile==1.1.0
idna==3.6
openpyxl==3.1.2
packaging==24.0
pillow==10.3.0
pyinstaller==6.6.0
pyinstaller-hooks-contrib==2024.6
PyMySQL==1.1.0
PyPDF2==3.0.1
pyqtdarktheme==2.1.0
PySide6==6.7.0
PySide6_Addons==6.7.0
PySide6_Essentials==6.7.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
requests==2.31.0
shiboken6==6.7.0
six==1.16.0
soupsieve==2.5
types-python-dateutil==2.8.19.20240106
types-pytz==2024.1.0.20240203
types-requests==2.31.0.20240311
urllib3==2.2.1
zope.interface==6.2
